@font-face {
  font-family: "myfont1";
  src: url("../assets/fonts/font/BARABARA-final.otf") format("opentype");
}

@font-face {
  font-family: "myfont2";
  src: url("../assets/fonts/font/Giphurs-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "myfont3";
  src: url("../assets/fonts/font/Giphurs-SemiBold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ddd7d78c;
  font-family: Arial, sans-serif;
  text-transform: capitalize;
}
a {
  color: #ffffff;
  text-decoration: none;
}
nav {
  /* background-color: #837272; */
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 195);
}
.menu {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: myfont3;
}
.menu a {
  width: auto;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 60, 95);
  text-decoration: none;
  border-radius: 50px;
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
}
.logo {
  width: 20%;
  height: 100%;
  font-family: myfont1;
  font-size: 20px;
  margin: 20px;
  color: rgb(25, 60, 95);
}
.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translatey(15%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translatey(0);
  transition: all 1s;
}
/* //////////88888888 login casacde start ///88///// */

.section {
  width: 100%;
  height: 900px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  z-index: 0;
}
.sign-image {
  width: 50%;
  height: 700px;
}
.sign-image img {
  width: 100%;
  height: 100%;
}
.sign-container {
  width: 600px;
  /* height: fit-content; */
  height: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 255);
  background-color: rgb(20, 19, 19);
  margin: 30px 15px 0 40px;
}

.upper-container {
  width: 100%;
  height: 90px;
  background-color: rgb(230, 229, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "myfont3", Arial, sans-serif;
  border-radius: 10px 10px 0 0;
}

.lower-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 223, 222);
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
}

.form-head {
  text-align: center;
  font-size: 25px;
  color: #0a1330;
  width: 100%;
  height: 10%;
}
.middle {
  width: fit-content;
  background-color: rgb(224, 223, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lower {
  width: 100%;
  height: 20%;
  background-color: rgb(224, 223, 222);
  font-size: 16px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in {
  background-color: rgb(199, 192, 182);
}
.up,
.in {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.up a {
  color: #080707;
  font-size: 20px;
}
.in a {
  color: #080707;
  font-size: 20px;
}

/* //////////88888888 login casacde end //88///// */
.hidden2 {
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  max-height: 0;
  filter: blur(10px);
  overflow: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transform: translatex(-20%);
}

.visible {
  visibility: visible;
  opacity: 1;
  max-width: 100%;
  max-height: 1000px;
  filter: blur(0px);
  overflow: hidden;
  transition: visibility 0s 0s, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  animation: log 5s infinite;
  transform: translateX(0%);
}
.login .hidden2 {
  transform: translateX(20%);
}
label {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  color: #0a1330;
}
input {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: none;
}
input:focus {
  transition: all 0.5s ease-in-out;
  border: 1.5px solid rgb(29, 27, 27);
}
input[type="submit"] {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(68, 68, 88, 0.377);
  color: rgb(12, 10, 10);
  cursor: pointer;
  margin: 20px;
  margin-left: 30%;
  font-size: 20px;
  border: none;
  font-weight: bold;

  &:hover {
    background-color: rgba(68, 68, 88, 0.647);
    transition: all 0.3 ease-in;
  }
}

.lower-container {
  display: none;
}

.lower-container.show {
  display: flex; /* or block, depending on your layout */
}


@media screen and (max-width: 600px) {
  .sign-image {
    display: none;
  }
  .sign-container {
    width: 100%;
  }
}