@font-face {
    font-family: "myfont1";
    src: url("../assets/fonts/font/BARABARA-final.otf") format("opentype");
  }
  
  @font-face {
    font-family: "myfont2";
    src: url("../assets/fonts/font/Giphurs-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "myfont3";
    src: url("../assets/fonts/font/Giphurs-SemiBold.ttf") format("truetype");
  }
  * {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #edeef5;
    /* font-family: Arial, sans-serif; */
    font-family: myfont3;
    text-transform: capitalize;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translatey(15%);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translatey(0);
    transition: all 1s;
  }
  .courses:nth-child(1) {
    transition-delay: 500ms;
  }
  .courses:nth-child(2) {
    transition-delay: 200ms;
  }
  .courses:nth-child(3) {
    transition-delay: 500ms;
  }
  
  .section-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;
  }
  nav {
    /* background-color: #cdced3; */
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  .menu {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 50px; */
  }
  .menu a {
    width: 17%;
    margin: 10px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8b8be5e;
    color: rgb(25, 60, 95);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  .menu a:hover {
    background-color: #edeef5;
    border: 1px solid #1b1616;
  }
  .login {
    width: 25%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .login a {
    color: rgb(244, 245, 247);
    text-decoration: none;
    margin: 20px;
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 40, 104);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer; 
  }
  .login a:hover {
    background-color: rgb(17, 24, 59);
  }
  .logo {
    width: 20%;
    height: 150%;
    font-family: myfont1;
    font-size: 20px;
    color: rgb(25, 60, 95);
  } 
  /* *************the end of the nav cascading***********8 */
   .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #edeef5;
  }
  span {
    color: #ff696b;
  
    font-size: 70px;
  }
  .introduction {
    color: #2f2f68;
    font-size: 70px;
    font-family: myfont3;
    width: 600px;
    text-align: center;
  }

  .home-link {
    width: 25%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-link a {
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
    width: 55%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 191, 191);
    border-radius: 50px;
    background-color: black;
  }
  .home-link a:hover {
    background-color: rgb(149, 149, 153);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(59, 64, 87);
    color: #0b0a11;
  } 
  
  /* *************the end of the home cascading***********8 */
  
  .section-feature {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(236, 232, 232); */
    background-color: #edeef5;
  }
  .feature-conatainer {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-head {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f2f68;
  }
  .feature-head h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .course-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .courses {
    width: 30%;
    height: 80%;
    background-color: rgb(221, 222, 226);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px 4px rgba(black, 255, 255, 0);
    border-radius: 15px;
  }
  .desc {
    width: 100%;
    height: 50%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: #dddada;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
  }
  .courses:hover {
    transform: translate3d(0px, -5px, 0px);
    transition: all 0.4s ease-in-out;
    color: #0b0a11;
  }
  .desc a {
    margin: 10px;
    width: 40%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: rgb(32, 30, 30);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  .desc a:hover {
    background-color: rgb(149, 149, 153);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(59, 64, 87);
    color: #0b0a11;
  }
  .desc p {
    /* color: white; */
    color: #0b0a11;
    text-align: center;
    margin: 10px;
  }
  .courses img {
    width: 160px;
    height: 160px;
    margin: 10px;
  }
  
  /* *************the end of the feature cascading***********8 */
  .section-partner {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edeef5;
  }
  .partner-head {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2f2f68;
  }
  .partner-logos {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(243, 241, 241); */
    background-color: #edeef5;
  }
  .partners {
    width: 100%;
    height: 200px;
    /* background-color: rgb(216, 203, 203); */
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partners img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  .partners:nth-child(4) img {
    width: 100%;
    height: 100px;
  }
  .partner-logos .hidden {
    /* opacity: 0; */
    /* filter: blur(2px); */
    transform: translatey(5%);
    transition: all 1s;
    animation: updown 10s infinite;
  }
  @keyframes updown {
    0% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    50% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  /* *************the end of the partner cascading***********8 */
  
  .section-why {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #c4a0a0; */
    background-color: rgb(237, 238, 245);
  }
  .why-container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .why-head {
    width: 100%;
    height: 10%;
    background-color: rgb(237, 238, 245);
    display: flex;
    justify-content: start;
    align-items: center;
    color: #2f2f68;
  }
  .why-head h2 {
    margin: 20px 0 0 80px;
    font-size: 30px;
    font-weight: bold;
  }
  .why-description {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(237, 238, 245);
  }
  .why-description .part-2 {
    width: 100%;
    height: 50%;
  }
  .why-description .part-1,
  .part-2 {
    background-color: rgb(237, 238, 245);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .why-1,
  .why-2 {
    width: 180px;
    height: 180px;
  }
  .why-1 img {
    width: 180px;
    height: 180px;
  }
  .why-2 img {
    width: 180px;
    height: 180px;
  }
  
  /* //////the end  of the section heasdcascase */
  .section-team {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 238, 245);
  }
  .team-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .team-head {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(237, 238, 245);
    color: #2f2f68;
  }
  .team-head h2 {
    margin: 20px 0 0 80px;
    font-size: 30px;
    font-weight: bold;
  }
  .team-members {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(237, 238, 245);
  }
  .members {
    width: 20%;
    height: 70%;
    background-color: rgb(214, 214, 218);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
  }
  .image {
    width: 150px;
    height: 150px;
    /* background-color: rgb(7, 5, 5); */
    margin: 25px;
  }
  .image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    &:hover {
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
    }
  }
  .description {
    width: 100%;
    height: 40%;
    background-color: rgb(224, 221, 221);
    margin-top: auto;
    text-align: center;
    border-radius: 25px;
  }
  .description h4 {
    margin: 20px 20px 0 20px;
  }
  /* *************the end of the team cascading***********8 */
  .cta {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 238, 245);
  }
  .cta-container {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .cta-upper {
    width: 100%;
    height: 70%;
  }
  .cta-lower {
    width: 100%;
    height: 30%;
  }
  .cta-upper {
    width: 500px;
    font-size: 40px;
  }
  .cta-lower a {
    width: 200px;
  }
  
  .foot {
    color: black;
    background-color: #e0eaf3;
    text-transform: capitalize;
    border-radius: 30px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .footer {
    color: rgb(21, 18, 73);
    bottom: 0;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    /* background-color: #EDEEF5; */
    background-color: #dedef5;
  }
  .head {
    width: 40%;
  }
  .head h2 {
    font-size: 40px;
    font-weight: bold;
    color: #212250;
    font-family: myfont1;
    text-transform: uppercase;
  }
  .head a {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(121, 109, 109);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .main-foot1,
  .main-foot2,
  .main-foot3 {
    width: 99%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-foot1 {
    height: 25%;
  }
  .main-foot2 {
    height: 10%;
  }
  .main-foot2 h2 {
    text-decoration: underline;
    font-weight: bolder;
  }
  .main-foot3 {
    height: 50%;
    border-radius: 0 0 30px 30px;
  }
  .main-foot4 {
    height: 15%;
  }
  .main-foot4 {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #444; /* Optional border for separation */
  }
  .icons a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    display: flex;
  }
  .icons a:hover {
    color: #fff; /* Change color on hover */
  }
  
  .main-foot4 p {
    margin: 5px 0;
  }
  
  .main-foot4 a {
    color: #40417c;
    text-decoration: none;
  }
  
  .main-foot4 a:hover {
    text-decoration: underline;
  }
  .foot-part {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .head {
    width: 40%;
  }
  .foot-part a {
    color: rgb(21, 18, 73);
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-weight: 550;
    &:hover {
      color: rgb(226, 84, 49);
      transition: all 0.2s ease-in-out;
    }
  }
  @media (max-width: 768px) {
    .introduction {
      width: 100%;
      font-size: 40px;
    }
    .home-link a {
      width: 105px;
      height: 40px;
      font-size: 15px;
      border-radius: 50px;
    }
    .home-link {
      width: 300px;
      margin: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .course-container {
      flex-direction: column;
    }
    .section-feature {
      height: fit-content;
    }
    .courses {
      width: 80%;
    }
    .partner-logos {
      flex-direction: column;
    }
    .section-partner {
      height: fit-content;
    }
    .part-2 {
      flex-direction: column;
    }
    .section-why {
      height: fit-content;
    }
    .why-2 {
      margin: 40px;
    }
    .section-team {
      height: fit-content;
    }
    .team-members {
      flex-direction: column;
    }
    .members {
      width: 70%;
    }
    .cta-container {
      width: 100%;
    }
    .cta-upper h2 {
      font-size: 40px;
      margin-top: 50px;
    }
  }
  .foot1 {
    display: none;
  }
  @media (max-width: 768px) {
    .footer {
      height: auto;
      padding: 20px;
    }
    .main-foot1,
    .main-foot2,
    .main-foot3 {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .foot-part {
      width: 70%;
      margin: 10px 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(216, 217, 232);
    }
    .foot-part h2 {
      font-size: 30px;
      text-decoration: underline;
      font-weight: bolder;
    }
    .links a {
      width: 100%;
      margin: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .foot {
      display: none;
    }
    .foot1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .menu {
      width: 70%;
    }
    .menu a {
      width: 50px;
      margin: 10px 0;
      font-size: 10px;
    }
    .login {
      display: none;
    }
    .logo {
      width: 25%;
      height: 150%;
      font-family: myfont1;
      font-size: 10px;
      color: rgb(25, 60, 95);
    }
  }
  
